@using Microsoft.AspNetCore.Identity
@using TeduBlog.Core.Domain.Identity
@using TeduBlog.WebApp.Extensions
@inject IOptions<SystemConfig> _config;
@model List<NavigationItemViewModel>
@inject SignInManager<AppUser> SignInManager

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">@_config.Value.AppName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@UrlConsts.Home">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@UrlConsts.Series">Series</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle px-lg-3 py-3 py-lg-4" href="@UrlConsts.Posts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Posts
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var item in Model)
                        {
                            <li><a class="dropdown-item" title="@item.Name" href="@string.Format(UrlConsts.PostsByCategorySlug,item.Slug)">@item.Name</a></li>
                        }
                    </ul>
                </li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@UrlConsts.Contact">Contact</a></li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <span class="navbar-text">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn" href="@UrlConsts.Profile">@User.GetFirstName()</a>
                    <a class="btn" href="@UrlConsts.CreatePost">Create Posts</a>
                }
                else
                {
                    <a class="btn" href="@UrlConsts.Login">Login</a>
                    <a class="btn" href="@UrlConsts.Register">Register</a>
                }

            </span>
        </div>
    </div>
</nav>