@model PostDetailViewModel
@{
    ViewData["Title"] = Model.Post.Name;
    ViewData["Description"] = Model.Post.SeoDescription;
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>@Model.Post.Name</h1>
                    <h2 class="subheading">@Model.Post.Description</h2>
                    <span class="meta">
                        Posted by
                        <a href="@string.Format(UrlConsts.Author,Model.Post.AuthorUserName)">@Model.Post.AuthorName</a>
                        on @Model.Post.DateCreated.ToLongTimeString()
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                @Html.Raw(Model.Post.Content)

                <p>
                    @foreach (var tag in Model.Tags)
                    {
                        <a title="@tag.Name" href="@string.Format(UrlConsts.PostsByTagSlug, tag.Slug)">@tag.Name</a>
                    }
                </p>
            </div>
        </div>
    </div>
</article>