@model SeriesDetailViewModel
@{
    ViewData["Title"] = Model.Series.Name + (Model.Posts.CurrentPage > 1 ? $" - Trang {Model.Posts.CurrentPage}" : "");
    ViewData["Description"] = Model.Series.SeoDescription + (Model.Posts.CurrentPage > 1 ? $" - Trang {Model.Posts.CurrentPage}" : "");
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Series.Name</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var item in Model.Posts.Results)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="@string.Format(UrlConsts.PostDetails,item.Slug)" title="@item.Name">
                        <h2 class="post-title">@item.Name</h2>
                        <h3 class="post-subtitle">@item.Description</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="@string.Format(UrlConsts.Author,item.AuthorUserName)">@item.AuthorName</a>
                        on @item.DateCreated.ToLongTimeString()
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            @(await Component.InvokeAsync("Pager", Model.Posts))
        </div>
    </div>
</div>