@using TeduBlog.Core.Models;
@using TeduBlog.Core.Models.Content;
@model PagedResult<SeriesInListDto>
@{
    ViewData["Title"] = "Series posts" + (Model.CurrentPage > 1 ? $" - Trang {Model.CurrentPage}" : "");
    ViewData["Description"] = "Series posts" + (Model.CurrentPage > 1 ? $" - Trang {Model.CurrentPage}" : "");
}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Series</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            @foreach (var item in Model.Results)
            {
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="@string.Format(UrlConsts.SeriesDetail,item.Slug)" title="@item.Name">
                        <h2 class="post-title">@item.Name</h2>
                        <h3 class="post-subtitle">@item.Description</h3>
                    </a>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            }
            <!-- Pager-->
            @(await Component.InvokeAsync("Pager", Model))
        </div>
    </div>
</div>